*{
	box-sizing: border-box;
	font-family: 'Alef', sans-serif;
}

body{
    height: 100%;
    background-color:rgba(137, 166, 225, 0.3);
}

/* תפריט */
.navbar-default{
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: white;
}

.navbar-inverse{
	background-color: rgb(137, 166, 225);
	border-color: rgb(137, 166, 225);
	padding: 0px;
    margin: 0px;
    box-shadow: 0 0 7px #5a5a5a;
}


.navbar-inverse .navbar-brand, .navbar-inverse a{
      color: black;
      padding-left: 40px;
    }

.navbar-inverse .navbar-nav>li>a {
      color: black;
	}


	/* טקסט לצד ימין  */
.dropdown-menu>li>a{
	text-align: right;
}
/* נגמר תפריט */
.main{
	padding-left: 10%;
}

h1{
	text-align: center;
	margin-right: 13%;
}

.circle{
	width: 40%;
	height: 220px;
	margin: 1.66%; 	
    background-color: rgb(18, 20, 22);
    float: left;
	border-radius: 15%;
	color: white;	
}

.circle p{
	padding: 10%;
	font-size: 20px;
	text-align: center;
	line-height: 1.7em;
}


.fa-arrow-down{
	font-size: 80px;
	color: rgb(137, 166, 225);
	position: relative;
	right: 0px;
	bottom: 15px;
	
	}
	

.fa-arrow-left{
	font-size: 80px;
	color: rgb(137, 166, 225);	
	position: relative;
	right: 130px;
	bottom: 40px;
}

.fa-arrow-up{
	font-size: 80px;
	color: rgb(137, 166, 225);
	position: relative;
	right: 190px;
	bottom: 290px;
}

.ref{
	border-right: 2px solid rgb(18, 20, 22);
	padding-right: 30px;
	line-height: 1.5em;
}

.ref h3{
	text-align: center;
}

.ref a{
	text-decoration: none;
	color: rgb(18, 20, 22);
	font-size: 15px;
	text-align: center;
}

.ref a:hover{
	font-weight: 700;
}

#traffic-light{
	width:100%;
	margin-bottom: 10px;
}


.btn.btn-default{
	background-color:  rgb(137, 166, 225);
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.btn.btn-default:hover{
	color: white;
}



