*{
	box-sizing: border-box;
	font-family: 'Alef', sans-serif;
}

body{
    height: 100%;
    background-color:rgba(137, 166, 225, 0.3);
}

/* תפריט */
.navbar-default{
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: white;
}

.navbar-inverse{
	background-color: rgb(137, 166, 225);
	border-color: rgb(137, 166, 225);
	padding: 0px;
    margin: 0px;
    box-shadow: 0 0 7px #5a5a5a;
}


.navbar-inverse .navbar-brand, .navbar-inverse a{
      color: black;
      padding-left: 40px;
    }

.navbar-inverse .navbar-nav>li>a {
      color: black;
	}


	/* טקסט לצד ימין  */
.dropdown-menu>li>a{
	text-align: right;
}
/* נגמר תפריט */

.jumbotron{
	background-color: rgba(137, 166, 225, 0.02);
	height: 400px;
	margin-top: 50px;

}

.jumbotron h3{
	text-align: center;
	font-size: 28px;
    color: black;
    font-weight: 700;
}

.jumbotron h2{
	text-align: center;
    color: black;
    font-weight: 700;
}

.jumbotron form p{
    text-align: left;
}

.btn-group-lg>.btn, .btn-lg{
    background-color:whitesmoke;
    margin: 0 38%;
    font-weight: 700;
    font-size: 1.5em;
}

.btn-default:hover{
    background-color:whitesmoke;
    
}



#signInBorder{
    border-right: 1px solid black;
}