*{
	box-sizing: border-box;
	font-family: 'Alef', sans-serif;
}

/* תפריט */
.navbar-default{
	height: 40px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: white;
}

.navbar-inverse{
	background-color: rgb(72,74,96);
	border-color: rgb(72,74,96);
	padding: 0px;
	margin: 0px;
	
}


.navbar-inverse .navbar-brand, .navbar-inverse a{
      color: white;
      padding-left: 40px;
    }

.navbar-inverse .navbar-nav>li>a {
      color: white;
	}


	/* טקסט לצד ימין  */
.dropdown-menu>li>a{
	text-align: right;
}
/* נגמר תפריט */
h2{
	text-align: right;
	font-weight: 700;
	margin-top: 50px;
	padding-right: 15px;
}	
	


	/* חלון צבע ראשון */
.first{
	background-color: rgb(242,241,243);
	height: 600px;
}

.jumbotron.video1{
	background-color: rgb(66,58,82);
	height: 400px;
	margin-top: 50px;

}

.jumbotron.video1 h3{
	text-align: center;
	font-size: 28px;
	color: rgb(242,241,243);
}
/* נגמר חלון צבע ראשון */

/* חלון צבע שני */
.second{
	background-color: rgb(66,58,82);
	height: 600px;
}

.jumbotron.video{
	background-color: rgb(242,241,243);
	height: 400px;
	margin-top: 100px;
}

.jumbotron.video h3{
	text-align: center;
	font-size: 28px;
	color: rgb(66,58,82);
}
/* סוף חלון צבע שני */

/* חלון שלישי */
.jumbotron.video3{
	background-color: rgb(66,58,82);
	height: 400px;
	margin-top: 100px;
}

.jumbotron.video3 h3{
	text-align: center;
	font-size: 28px;
	color: rgb(242,241,243);
}

/* סוף שלישי */

/* חלון רביעי */
.jumbotron.con{
	background-color:rgb(66,58,82);;
	height: 400px;
	margin-top: 70px;
}

.jumbotron.con h3{
	text-align: center;
	font-size: 40px;
	color: rgb(242,241,243);
}

.jumbotron.con li{
	color: rgb(242,241,243);
	font-size: 20px;
	line-height: 2em;	
}
/* סוף רביעי */

.btn.btn-default{
	background-color: rgb(137, 166, 225);
	position: fixed;
	bottom: 0px;
	right: 0px;
}



